.button {
    height: 30px;
    padding: 0 5px 0 5px;
    background-color: rgb(235, 198, 106);
    border: 1px solid rgb(235, 198, 106);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover {
    background-color: rgb(235, 211, 151);
    border-color: rgb(235, 211, 151);
}