.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-control input {
    border: 1px grey solid;
    border-radius: 6px;
    outline: none;
    padding-left: 0.25rem;
    height: 30px;
}

.form-control label {
    margin-bottom: 0.25rem;
}